#!/usr/bin/make -f
SHELL := sh -e

DEB_HOST_ARCH  := $(shell dpkg-architecture -qDEB_HOST_ARCH)

build: build-arch build-indep
build-arch:
build-indep:

clean:
	dh_testdir
	dh_clean

binary: binary-arch binary-indep
binary-arch: debian/control
	dh_testdir
	$(MAKE) -f debian/rules.gen binary-arch_$(DEB_HOST_ARCH)
binary-indep:

.PHONY: build build-arch build-indep clean binary binary-arch binary-indep
