[Unit]
Description=Hyper-V volume shadow copy service (VSS) daemon
Conflicts=hyperv-daemons.hv-vss-daemon.service
BindsTo=sys-devices-virtual-misc-vmbus\x21hv_vss.device

[Service]
ExecStart=/usr/sbin/hv_vss_daemon -n

[Install]
WantedBy=multi-user.target
