[Unit]
Description=Hyper-V file copy service (FCOPY) daemon
Conflicts=hyperv-daemons.hv-fcopy-daemon.service
BindsTo=sys-devices-virtual-misc-vmbus\x21hv_fcopy.device

[Service]
ExecStart=/usr/sbin/hv_fcopy_daemon -n

[Install]
WantedBy=multi-user.target
